@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');


:root {
    --btn-width: 250px;
    --btn-height: 80px;
    --btn-full: calc(var(--btn-height) + var(--btn-width));
    --btn-half: calc(var(--btn-full) / 2);
    --bg-color: #eeeeee;
}


.ajanlar li{
  height: 40px;
  text-align: center;
  font-family: 'Jost', sans-serif;
  padding: 0;
}


.dropdown-menu{
padding: 0;
}


.btn:focus{
  box-shadow: none;
}
.borderr{
  border:65px solid rgb(229 231 235);
}

.border2{
  padding-bottom: 30px;
  border-bottom: 5px solid rgb(243 244 246);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgb(243 244 246);
  transform: rotate(140deg);

}


.backgrounddiv{
    background-image: url(../assets/background.jpg);
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
}

#video-background {
    }

.deadlockbg{
    background-image: url(../assets/bg.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}




.bg{
  background-image: url(../assets/bg.png);
  background-position: center;
  background-size:contain;
  background-repeat:initial;
}


.button-background-move {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-background-move:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-background-move:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-background-move {
      padding: 13px 50px 13px;
    }
  }
  
  
  
  html {
    text-align: center;
  }
  
  /* *,
  *:before,
  *:after {
    transition: 0.5s ease-in-out;
  } */
  
  i,
  em,
  b,
  strong,
  span {
    transition: none;
  }
  
  *:before,
  *:after {
    z-index: -1;
  }
  
  a {
    text-decoration: none;
  }
  
  @media (min-width: 600px) {
    .wrap {
      width: 50%;
      float: left;
    }
  }

  .button-paper {
    align-self: center;
    background-color: #e2e2e2;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-paper:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-paper:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
  
  
  